@model Hattmakarens_system.ViewModels.HatViewModel

<table class="table">
    <tr>
        <th>
            Namn
        </th>
        <th>
            Beskrivning
        </th>
        <th>
            Materialtyp
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ColorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickedColor)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model.Materials)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ColorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickedColor)
                </td>*@
        </tr>
    }

</table>
