@model Hattmakarens_system.ViewModels.HatViewModel

@using(Html.BeginForm("PickMaterial", "Hat")){
<div class="form-group ">
    @Html.Label("Välj Tyg", new { @class = "col-md-2 control-label" })
    <div class="col-md-10 ">
        <div class="btn-group-toggle" data-toggle="buttons">
            @foreach (var material in Model.TygMaterial)
            {
            if(material.State == true)
                {
                    <button class="btn btn-secondary" type="submit" value="@material.MaterialId" id="@material.MaterialId" style="background-color: @material.Name; ">
                    </button>
                }
            else
                {
                    <button class="btn btn-secondary" type="submit" value="@material.MaterialId" id="@material.MaterialId" style="background-color: @material.Name; ">
                        
                    </button>
                }                
            }
        </div>
    </div>
</div>

<div class="form-group ">
    @Html.Label("Välj Dekoration", new { @class = "col-md-2 control-label" })
    <div class="col-md-10 ">
        <div class="btn-group-toggle" data-toggle="buttons">
            @foreach (var material in Model.DekorationMaterial)
            {
                if(material.State == true)
                {
                    <label class="btn btn-secondary" type="submit" value="@material.MaterialId" id="@material.MaterialId" style="background-color: @material.Name; ">
                        <input type="checkbox" checked autocomplete="off"> @material.MaterialName <span class="badge badge-primary"> <img src="@Href("~/Img/icons8-done-24.png")" style="width: 12px; height: 12px;" /> </span>
                    </label>
                }
                else
                {
                    <label class="btn btn-secondary" type="submit" value="@material.MaterialId" id="@material.MaterialId" style="background-color: @material.Name; ">
                        <input type="checkbox" checked autocomplete="off"> @material.MaterialName
                    </label>
                }                
            }
            
        </div>
    </div>
</div>

<div class="form-group ">
    @Html.Label("Välj Tråd", new { @class = "col-md-2 control-label" })
    <div class="col-md-10 ">
        <div class="btn-group-toggle" data-toggle="buttons">
            @foreach (var material in Model.TrådMaterial)
            {
                if(material.State == true)
                {
                    <label class="btn btn-secondary" type="submit" value="@material.MaterialId" id="@material.MaterialId" style="background-color: @material.Name; ">
                        <input type="checkbox" checked autocomplete="off"> @material.MaterialName <span class="badge badge-primary"> <img src="@Href("~/Img/icons8-done-24.png")" style="width: 12px; height: 12px;" /> </span>
                    </label>
                }
                else
                {
                    <label class="btn btn-secondary" type="submit" value="@material.MaterialId" id="@material.MaterialId" style="background-color: @material.Name; ">
                        <input type="checkbox" checked autocomplete="off"> @material.MaterialName
                    </label>
                }  
            }
        </div>
    </div>
</div>
}
