@model Hattmakarens_system.ViewModels.ActiveHatsViewModel
@{
    ViewBag.Title = "ActiveHats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="vänstra">
    <h1>Dina pågående hattprojekt</h1>
    <table class="linjeVänstra" cellspacing="0">
        <thead><tr><td><b>Beställningsnummer</b></td><td><b>Hattnamn</b></td><td><b>Beställningsdatum</b></td><td><b>Prioriterad</b></td></tr></thead>
        <tbody>
            @foreach (var hat in Model.hats)
            {
                <tr>
                    <td>@hat.OrderId</td>
                    <td>@Html.ActionLink(hat.Name, "ViewHat", "Hat", new { hatId = hat.Id }, null)</td>
                    <td>@hat.Order.Date.ToShortDateString()</td>
                    <td>
                        @if (hat.Order.Priority)
                        {
                            <p class="ja">Ja</p>
                        }
                        else
                        { <p class="nej">Nej</p>}
                    </td>
                </tr>
            }
            <tr><td></td><td></td><td></td><td></td></tr>
        </tbody>
    </table>
    <br />
    <p><strong>Totalt antal aktiva hattar: @Model.hats.Count</strong></p>
</div>
<div class="högra">
    <h1>Aktiva beställningar</h1>
    <table class="linjeHögra" >
        <thead>
            <tr>
                <td><b>Beställningsnummer</b></td>
                <td><b>Antal hattar</b></td>
                <td><b>Datum</b></td>
                <td><b>Kund</b></td>
                <td><b>Prioriterad</b></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.Id &nbsp; &nbsp; &nbsp; @Html.ActionLink("Gå till beställning", "ViewOrder", "Order", new { order.Id }, null)</td>
                    <td>@order.Hats.Count</td>
                    <td>@order.Date.ToShortDateString()</td>
                    <td>@order.Customer.Name</td>
                    @if (order.Priority)
                    {
                        <td><p class="ja">Ja</p></td>
                    }
                    else
                    {
                        <td><p>Nej</p></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
</div>