@model Hattmakarens_system.ViewModels.OrderModel

<table class="table">

    <tr>
        <th>
            Namn
        </th>
        <th>
            Storlek
        </th>
        <th>
            Pris
        </th>
        <th>
            Kommentar
        </th>
        <th>
            Tillverkare
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in (List<Hattmakarens_system.ViewModels.HatViewModel>)TempData.Peek("listOfHats"))
        {
            if (item.HatModelID == 1)// 1 är ID för specialtillverkad hatt
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Ta bort", "DeleteInRegOrder", "Hat", new { id = item.Id}, null)
                    </td>
                </tr>
            }
        }
    }
</table>