@model Hattmakarens_system.ViewModels.OrderModel

@{
    ViewBag.Title = "CreateOrder";
}


<h2>Registrera beställning</h2>

<div class="row">
    @if (Model.CustomerEmail == null)
    {
        <div class="col-md-4">
            <input type="button" class="btn" value="Lägg till kund för beställningen" onclick="location.href = '@Url.Action("SearchCustomer", "Customer")'" />
        </div>
    }
</div>

@if (Model != null)
{
    if (Model.CustomerEmail != null)
    {
        <h4>Vald kund:</h4>
        <p>Id: @Html.DisplayFor(model => model.CustomerId)</p>
        <p>Namn: @Html.DisplayFor(model => model.CustomerName)</p>
        <p>E-post: @Html.DisplayFor(model => model.CustomerEmail)</p>

        <br />

        <h3>Specialtillverkade hattar</h3>

        <p>
            <input type="button" class="btn" value="Lägg till specialtillverkad hatt" onclick="location.href = '@Url.Action("CreateSpec", "Hat", new {orderId = Model.Id, customerEmail = Model.CustomerEmail})'" />
        </p>
        <div>
            @Html.Partial("_ListSpecHats")
        </div>

        <br />

        <h3>Lagerförda hattar</h3>

        <p>
            <input type="button" class="btn" value="Lägg till lagerförd hatt" onclick="location.href = '@Url.Action("CreateStored", "Hat", new { orderId = Model.Id, customerEmail = Model.CustomerEmail})'" />
        </p>
        <div>
            @Html.Partial("_ListStoredHats")
        </div>

        <br />

        using (Html.BeginForm("CreateOrder", "Order", FormMethod.Post))
        {
            <div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
                    <p>Tillägg på 20%</p>
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Priority)
                            @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.TotalSum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.TotalSum, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Moms, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Moms, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <p>Priset för expressleverans är exkluderat i priset ovan </p>
            <br />
            <p class="text-danger">@TempData["message"]</p>
            <div>
                <div class="form-group">
                    <div class=" col-md-2">
                        <input type="submit" value="Skapa beställning" class="btn btn-success" />
                    </div>
                </div>
            </div>


            <div id="hidden">
                @Html.EditorFor(model => model.TotalSum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.EditorFor(model => model.Moms, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        }

        <div>
            <input type="button" class="btn btn-danger" value="Avbryt registreringen av denna order " onclick="location.href = '@Url.Action("ActiveHats", "Hat")'" />
        </div>

        <style>
            #hidden { display: none; }
        </style>
    }
}


