@model Hattmakarens_system.ViewModels.OrderModel

@{
    ViewBag.Title = "CreateOrder";
}


<h2>Ordersammanställning</h2>
<h4>Ordernummer: @Html.DisplayFor(model => model.Id)</h4>
@using (Html.BeginForm())
{
    if (Model.Status.Equals("Aktiv"))
    {
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="orderStatus" id="option1" autocomplete="off" value="Aktiv" checked> Aktiv
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="orderStatus" id="option2" autocomplete="off" value="Inaktiv"> Inaktiv
            </label>
            <label class="btn btn-danger">
                <input type="radio" name="orderStatus" id="option3" autocomplete="off" value="Färdigställd"> Färdigställ
            </label>
        </div>
    }
    else if (Model.Status.Equals("Inaktiv"))
    {
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="radio" name="orderStatus" id="option1" autocomplete="off" value="Aktiv"> Aktiv
            </label>
            <label class="btn btn-primary active">
                <input type="radio" name="orderStatus" id="option2" autocomplete="off" value="Inaktiv" checked> Inaktiv
            </label>
            <label class="btn btn-danger">
                <input type="radio" name="orderStatus" id="option3" autocomplete="off" value="Färdigställd"> Färdigställ
            </label>
        </div>
        
    }
    else
    {
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="radio" name="orderStatus" id="option1" autocomplete="off" value="Aktiv"> Aktiv
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="orderStatus" id="option2" autocomplete="off" value="Inaktiv"> Inaktiv
            </label>
            <label class="btn btn-danger active">
                <input type="radio" name="orderStatus" id="option3" autocomplete="off" value="Färdigställd" checked> Färdigställ
            </label>

        </div>
    }
    <hr />
    <div>
        @if (Model != null)
        {
            if (Model.CustomerEmail != null)
            {
                <h3>Beställare</h3>
                <p>Kundnr.: @Html.DisplayFor(model => model.CustomerId)</p>
                <p>Namn: @Html.DisplayFor(model => model.CustomerName)</p>
                <p>E-post: @Html.DisplayFor(model => model.CustomerEmail)</p>

                <hr />

                <h3>Specialtillverkade hattar</h3>
                <div>
                    @Html.Partial("_ListSpecHatsEditView")
                </div>

                <h3>Lagerförda hattar</h3>
                <div>
                    @Html.Partial("_ListStoredHatsEditView")
                </div>

                <hr />
                <div class="form-group">
                    <div class="col-md">
                        @Html.LabelFor(model => model.Priority)
                        @if (Model.Priority)
                        {<p class="ja">Ja</p>}
                        else
                        { <p class="nej">Nej</p>}
                    </div>

                    <div class="col-md-auto">
                        <input type="button" value="Ändra prioritet" class="btn btn-success" onclick="location.href = '@Url.Action("ChangePriority", "Order", new { id = Model.Id, status = Model.Priority })'" />
                    </div>
                </div>
                <hr />

                @Html.HiddenFor(model => model.Id)
                <div class="input-group">
                    <div class="input-group-prepend">
                        @Html.LabelFor(model => model.Comment)
                        <br />
                        @Html.TextAreaFor(model => model.Comment)
                    </div>
                </div>


                <hr />
                <div>
                    <div class="form-group">
                        <div class=" col-md">
                            <input type="submit" value="Spara ändringar" class="btn btn-success" />
                            
                        </div>
                    </div>
                </div>

            }
        }
    </div>
}
<hr />
<br />


