@model Hattmakarens_system.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Sök</h2>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <input type="button" value="Beställningar" class="btn btn-primary" />
    <input type="button" value="Kunder" class="btn btn-outline-primary" onclick="location.href = '@Url.Action("CustomerSearch", "Search")'" />
</div>

@using (Html.BeginForm())
    {
    <div class="input-group col-md-10">
        <br />
        <div class="input-group-prepend">
            @Html.TextBox("searchString")
            <button class="btn btn-outline-primary" type="submit">Sök</button>
        </div>
        <input type="radio" name="searchOption" value="material" /> Material
        <input type="radio" name="searchOption" value="model" /> Modell
        <input type="radio" name="searchOption" value="customer" /> Kund
        <br />
        Filtrera på status @Html.DropDownList("statusOption", new List<SelectListItem>
            { new SelectListItem { Value = "all", Text = "Alla"},
             new SelectListItem { Value = "active", Text = "Aktiva"},
             new SelectListItem { Value = "inactive", Text = "Inaktiva"}})
</div>
}


@*<div class="btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-outline-secondary">
        <input type="checkbox" checked autocomplete="off"> Material
    </label>
    <label class="btn btn-outline-secondary">
        <input type="checkbox" checked autocomplete="off"> Model
    </label>
    <label class="btn btn-outline-primary">
        <input type="checkbox" checked autocomplete="off"> Kund
    </label>
</div>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Alla</a><br />
        <a class="dropdown-item" href="#">Activa</a><br />
        <a class="dropdown-item" href="#">Inaktiva</a><br />
    </div>
</div>*@


@if (ViewBag.ViewBagList != null)
{
    if (ViewBag.ViewBagList.Count > 0)
    {
        <table class="table">
            <tr>
                <th>Ordernummer</th>
                <th>Kund</th>
                <th>Orderdatum</th>
                <th>Status</th>
                <th></th>
            </tr>

            @foreach (var item in ViewBag.ViewBagList)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    @*<td>
                        @item.Name
                    </td>*@
                    <td>
                        @item.Date
                    </td>
                    <td>
                        @item.Status
                    </td>
                    @*<td>
                        @Html.ActionLink("Se orderinfo", "DisplayOrder", "Customer", new { item.Id }, null)
                    </td>*@
                </tr>
            }
        </table>
    }
    else
    {
        <p class="text-danger">Det finns inga sökresultat!</p>
    }
}

