

@model Hattmakarens_system.ViewModels.StatisticViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Orders";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width; text/html; charset=UTF-8" />
    <title>GetStatistics</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <h1>Se statistik</h1>
        @using (Html.BeginForm("GetStatistics", "Statistic", FormMethod.Post))
        {
            <br />
            <table>
                <tr>
                    <td>@Html.LabelFor(m => m.fromDate, "Från ")</td><td style="padding-left:10px;">@Html.EditorFor(m => m.fromDate, new { htmlAttributes = new { @class = "datepicker" } })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.toDate, "Till  ")</td><td style="padding-left:10px;">@Html.EditorFor(m => m.toDate, new { htmlAttributes = new { @class = "datepicker" } })</td>
</tr>
            </table>
            <br />



            <input type="submit" class="btn btn-default" value="Se statistik">

        }
    </div>
    @RenderBody()
</body>
</html>
