@model Hattmakarens_system.ViewModels.StatisticViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Statistic/_GetStatistics.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <title>GetStatistics</title>
</head>
<body>
    <div>
        <br />
        <table class="statistik-tabell">
            <thead><tr><td><h3>Beställningsnummer</h3></td><td><h3>Antal hattar</h3></td><td><h3>Beställningsdatum</h3></td><td><h3>Summa</h3></td></tr></thead>
            <tbody>
                @foreach (var order in Model.orders)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.Hats.Count</td>
                        <td>@order.Date.ToShortDateString()</td>
                        <td>@order.TotalSum</td>
                    </tr>
                }
                <tr><td></td><td></td><td></td><td></td></tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><h4>Totalt antal beställingar: @Model.totalOrdersCount</h4></td>
                    <td><h4>Totalt antal hattar: @Model.totalHatsCount</h4></td>
                    <td></td>
                    <td><h4>Total summa: @Model.totalSum</h4></td>
                </tr>
            </tfoot>
        </table>
    </div>
    @using (Html.BeginForm("PrintStatistics", "Statistic"))
    {
        for (int i = 0; i < Model.orders.Count; i++)
        {
            @Html.HiddenFor(model => model.orders[i].Id);
            @Html.HiddenFor(model => model.orders[i].Date);
            @Html.HiddenFor(model => model.orders[i].TotalSum)
        }

        @Html.HiddenFor(x => x.totalOrdersCount)
        @Html.HiddenFor(x => x.totalHatsCount)
        @Html.HiddenFor(x => x.totalSum)
        @Html.HiddenFor(x => x.time)
        <input type="submit" value="Skriv ut statistik" />
    }
    <br />
    <br />
    <h2>Räkna ut moms baserat på inköp</h2>
    <div>
        @using (Html.BeginForm("CountTax", "Statistic", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(s => s.purchasedTax, new { @class = "col-md-2 control-label" })
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(s => s.purchasedTax, new { @class = "form-control" })
                @Html.HiddenFor(s => s.totalSum)
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Räkna ut moms" />
                </div>
            </div>
        }
    </div>
</body>
</html>

