@model Hattmakarens_system.ViewModels.StatisticViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Statistic/_GetStatistics.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetStatistics</title>
</head>
<body>
    <div>
        <table>
            <thead><tr><td>Beställning</td><td>Antal hattar</td><td>Beställningsdatum</td><td>Summa</td></tr></thead>
            <tbody>
                   @foreach(var order in Model.orders)
            {
                    <tr>
                        <td>@order.Customer</td><td>@order.Hats.Count</td><td>@order.Date</td><td>@order.TotalSum</td>
                    </tr>
            }
            </tbody>
            <tfoot><tr>
                <td></td><td>Totalt antal beställingar: @Model.totalOrdersCount</td><td>Totalt antal hattar: @Model.totalHatsCount</td><td>Total summa: @Model.totalSum</td>
                </tr></tfoot>
        </table>
    </div>
</body>
</html>
