@model Hattmakarens_system.ViewModels.InvoiceViewModel

@{
    ViewBag.Title = "Fyll i";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Invoice", "Pdf", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.InvoiceId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.InvoiceId, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.InvoiceId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OCR, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.OCR, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OCR, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DueDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.DueDate, new { htmlAttributes = new { @class = "datepicker" } })
            @*Html.ValidationMessageFor(m => m.DueDate, "", new { id = "datetimepicker", @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Skriv ut" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function ()
        {
            $("#datetimepicker").datetimepicker();
        });
    </script>
}