@model Hattmakarens_system.ViewModels.HatmodelViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MaterialsToPickFrom";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lägg till hattmodell</title>
</head>
<body>
    <h1>Lägg till hattmodell</h1>
    <div>
        @using (Html.BeginForm("Hatmodel", "Hatmodel", FormMethod.Post))
        {
        <div class="form-group">
            @Html.LabelFor(h => h.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(h => h.Name, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(h => h.Price, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(h => h.Price, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(h => h.Description, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(h => h.Description, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(h => h.PickedMaterials, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.ListBoxFor(h => h.PickedMaterials, new MultiSelectList(ViewBag.MaterialsToPickFrom, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Lägg till hattmodell" />
                    </div>
                </div>
            </div>
        </div>
        }
    </div>

</body>
</html>