@model Hattmakarens_system.ViewModels.HatmodelViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MaterialsToPickFrom";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lägg till hattmodell</title>
</head>
<body>
    <h1>Lägg till hattmodell</h1>
    <hr />
    <div>
        @using (Html.BeginForm("Hatmodel", "Hatmodel", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
             using (Html.BeginForm())
             {
                <div class="form-horizontal">
                    <div class="form-group ">
                        @Html.Label("Välj Tyg", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10 ">
                            <div class="btn-group-toggle" data-toggle="buttons">
                                @foreach (var material in Model.TygMaterial)
                                {
                                    if (material.State == true)
                                    {
                                        <label class="btn btn-secondary" type="submit" value="@material.MaterialId" id="@material.MaterialId" style="background-color: @material.Name;" onclick=" location.href='@Url.Action("PickMaterialModel", "HatModel", new { id = material.MaterialId })'">
                                            <input type="checkbox" checked autocomplete="off"> @material.MaterialName <span class="badge badge-primary"> <img src="@Href("~/Img/icons8-done-24.png")" style="width: 12px; height: 12px;" /> </span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="btn btn-secondary" type="submit" value="@material.MaterialId" id="@material.MaterialId" style="background-color: @material.Name;" onclick=" location.href='@Url.Action("PickMaterialModel", "HatModel", new { id = material.MaterialId })'">
                                            <input type="checkbox" checked autocomplete="off"> @material.MaterialName
                                        </label>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        @Html.Label("Välj Dekoration", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10 ">
                            <div class="btn-group-toggle" data-toggle="buttons">
                                @foreach (var material in Model.DekorationMaterial)
                                {
                                    if (material.State == true)
                                    {
                                        <label class="btn btn-secondary" type="submit" value="@material.MaterialId" id="@material.MaterialId" style="background-color: @material.Name;" onclick=" location.href='@Url.Action("PickMaterialModel", "HatModel", new { id = material.MaterialId })'">
                                            <input type="checkbox" checked autocomplete="off"> @material.MaterialName <span class="badge badge-primary"> <img src="@Href("~/Img/icons8-done-24.png")" style="width: 12px; height: 12px;" /> </span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="btn btn-secondary" type="submit" value="@material.MaterialId" id="@material.MaterialId" style="background-color: @material.Name;" onclick=" location.href='@Url.Action("PickMaterialModel", "HatModel", new { id = material.MaterialId })'">
                                            <input type="checkbox" checked autocomplete="off"> @material.MaterialName
                                        </label>
                                    }
                                }

                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        @Html.Label("Välj Tråd", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10 ">
                            <div class="btn-group-toggle" data-toggle="buttons">
                                @foreach (var material in Model.TrådMaterial)
                                {
                                    if (material.State == true)
                                    {
                                        <label class="btn btn-secondary" type="submit" value="@material.MaterialId" id="@material.MaterialId" style="background-color: @material.Name;" onclick=" location.href='@Url.Action("PickMaterialModel", "HatModel", new { id = material.MaterialId })'">
                                            <input type="checkbox" checked autocomplete="off"> @material.MaterialName <span class="badge badge-primary"> <img src="@Href("~/Img/icons8-done-24.png")" style="width: 12px; height: 12px;" /> </span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="btn btn-secondary" type="submit" value="@material.MaterialId" id="@material.MaterialId" style="background-color: @material.Name;" onclick=" location.href='@Url.Action("PickMaterialModel", "HatModel", new { id = material.MaterialId })'">
                                            <input type="checkbox" checked autocomplete="off"> @material.MaterialName
                                        </label>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-offset-2 col-md-10">
                            <p class="text-danger">@TempData["materialError"]</p>
                            @*<p class="text-danger">@ViewBag.MaterialError</p>*@
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(h => h.Name, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(h => h.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(h => h.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(h => h.Price, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(h => h.Price, new { @class = "form-control" })
                            @Html.ValidationMessageFor(h => h.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(h => h.Description, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(h => h.Description, new { @class = "form-control" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.Label("Välj bild", new { @class = "col-md-2 control-label" }) 
                        <div class="col-md-10">
                            @Html.TextBox("file", "", new { type = "file" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.Label("Välj bild")
                            @Html.TextBox("file", "", new { type = "file" })
                        </div>
                    </div>*@
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-primary" value="Lägg till hattmodell" />
                        </div>
                    </div>
                    @*<div class="form-group ">
                        <div class="col-md-offset-2 col-md-10">
                            <p class="text-success">@TempData["materialAdded"]</p>
                            <p class="text-success">@ViewBag.MaterialAdded</p>
                        </div>
                    </div>*@
                </div>
             }
        }
    </div>

</body>
</html>