@model IEnumerable<Hattmakarens_system.ViewModels.HatmodelViewModel>

<h2>Sök efter lagerförd hattmodel</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Hattmodellens namn: @Html.TextBox("searchString") 
        <input type="submit" class="btn btn-primary" value="Sök" />
        <br />
    </p>
}
    <p />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            @*<th>
                Bild
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>

        @using (Html.BeginForm("CreateStored", "Hat", FormMethod.Get))
        {

            foreach (var item in Model)
            {
                if(item.Id != 1)
                { 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @*Html.DisplayFor(modelItem => item.Path)*@
            @foreach (var image in item.Images)
            {
                <img src="@Url.Content(@image.Path)" alt="Hatmodel picture" class="img-responsive" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <input type="button" class="btn btn-primary" value="Välj lagrad hatt" onclick="location.href = '@Url.Action("CreateStored", "Hat", new { OrderId = item.OrderId, customerEmail = item.CustomerEmail, hatModelName = item.Name })'" />
        </td>
    </tr>
                }
            }
        }

    </table>