@model Hattmakarens_system.ViewModels.CostumerViewModel

@{
    ViewBag.Title = "DisplayCustomer";
}

<h2>Kundinformation</h2>

<div>
    <ul class="list-group">
        <li class="list-group-item">
            Kundnummer: @Html.DisplayFor(model => model.Id)
        </li>
        <li class="list-group-item">
            Namn: @Html.DisplayFor(model => model.Name)
        </li>
        <li class="list-group-item">
            Adress: @Html.DisplayFor(model => model.Adress)
        </li>
        <li class="list-group-item">
            Telefon: @Html.DisplayFor(model => model.Phone)
        </li>
        <li class="list-group-item">
            E-post: @Html.DisplayFor(model => model.Email)
        </li>
        <li class="list-group-item">
            Kommentarer: @Html.DisplayFor(model => model.Comment)
        </li>
        <li class="list-group-item">
            Antal beställda hattar: 
            @{var antalOrders = 0; }
            @foreach (var item in Model.Orders)
            {
                antalOrders++;
            }
            @antalOrders.ToString()
        </li>
    </ul>
</div>

<div>
    <div class="form-group">
        <div>
            <input type="button" value="Ändra" class="btn btn-primary" onclick="location.href = '@Url.Action("ChangeCustomer", "Customer", new { id = Model.Id }, null)'" />
            <button type="button" class="btn btn-danger">
                @Html.ActionLink("Ta bort", "DeleteCustomer", "Customer", new { id = Model.Id },
                    new { onclick = "return confirm('Är du säker på att du vill ta bort den här kunden? Detta går ej att ångra.');" })
            </button>
        </div>
    </div>
</div>


