@model Hattmakarens_system.Models.CustomerModels

@{
    ViewBag.Title = "DisplayCustomer";
}

<h2>ChangeCustomer</h2>

<div>
    <h4>Costumer name</h4>
    <hr />
    <ul class="list-group">
        <li class="list-group-item">
            KundId: @Html.DisplayFor(model => model.Id)
        </li>
        <li class="list-group-item">
            Namn: @Html.DisplayFor(model => model.Name)
        </li>
        <li class="list-group-item">
            Adress: @Html.DisplayFor(model => model.Adress)
        </li>
        <li class="list-group-item">
            Telefon: @Html.DisplayFor(model => model.Phone)
        </li>
        <li class="list-group-item">
            E-post: @Html.DisplayFor(model => model.Email)
        </li>
        <li class="list-group-item">
            Kommentarer: @Html.DisplayFor(model => model.Comment)
        </li>
        <li class="list-group-item active">
            @{var antalOrders = 0; }
            @foreach (var item in Model.Orders)
            {
                antalOrders++;
            }
            @antalOrders.ToString()
        </li>
    </ul>
</div>

<div>
    <button type="button" class="btn btn-primary">
        Ändra
    </button>
    <button type="button" class="btn btn-danger">
        Ta bort
    </button>
</div>


