@model IEnumerable<Hattmakarens_system.Models.CustomerModels>


<h2>Välj kund</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Kundens namn: @Html.TextBox("searchString") 
        <input type="submit" class="btn btn-primary" value="Sök" />
        <br />
    </p>
}
    <p />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>

        @using (Html.BeginForm("CreateOrder", "Order", FormMethod.Get))
        {

            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary" value="Välj kund" onclick="location.href = '@Url.Action("CreateOrder", "Order", new { customerEmail = item.Email})'" />
                    </td>
                </tr>
            }
        }

    </table>

    <div>
        <input type="button" class="btn btn-primary" value="Registrera ny kund" onclick="location.href = '@Url.Action("AddCustomer", "Customer")'" />
    </div>

